<%= form_for(@message) do |f| %>
<div class="overlay">
  <div class="modal">
    <div class="text">
      <h1 class="lead">What's wrong</br>today, Houge?</h1>
      <p>If you were Houge, what would be bothering you today?</p>
    </div>
    <div class="i-text">
      <div class="t-field"><p><%= f.text_area :content, :class => 'p t-field', :placeholder => "What's bothering you?" %></p></div>
      <div><h1><%= f.submit "Submit", :class => 'b-submit' %></h1></div>
    </div>
  </div>
</div>
<% end %>
